<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Stacked Area Chart</title>
  
  <style>
    .area {
      fill-opacity: 0.7;
    }
  </style>
</head>
<body>
  
  <svg id="chart" width="600" height="400"></svg>


  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="module">
    
    
    // Process and plot the data using JavaScript plotting libraries
    // ...
   
    var data = JSON.parse('{{ df_daily | safe }}');

    // Format the date_id values from unix datastamp

    //create the chart
    var width = 699, height = 500,  spacing = 60;


        // define xscale and yscale
        var xScale = d3.scaleLinear()
                        .domain([d3.min(data, function(d){return new Date(d.date_id);}),d3.max(data, function(d){return d.date_id;})])
                        .range([0, width-spacing]);
        var yScale = d3.scaleLinear()
                        .range([height - spacing, 0])  

        var svg = d3.select("body").append("svg")
                    .attr("width", width) .attr("height", height)
                    .append("g").attr("transform","translate(" +spacing/2 + "," +spacing/2 + ")");
        
        var legendGroup = svg.append("g").attr("class", "legend");

        svg.append("g")
            .attr("transform","translate(0, " + (height -spacing) + ")")
            .call(d3.axisBottom(xScale).ticks(6))
          

        var stack = d3.stack().keys(["Biomass","Dam Hydro","Geothermal","Hard Coal","Lignite","Natural Gas","Non-renewable waste","Nuclear","Oil","Other fossil fuel","Other renewables","Pumped storage generation","Run-of-River Hydro","Solar","Wind offshore","Wind onshore"]);
        var colors = ["#ea5545", "#f46a9b", "#ef9b20", "#edbf33", "#ede15b", "#bdcf32", "#87bc45", "#27aeef", "#b33dc6","#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db"]

        var stackedData = stack(data)
        // we can add the doman for yscale by querying the length of stacked data and using it as the index
        //console.log(stackedData)
        //console.log(stackedData[stackedData.length -1]);
        //console.log(stackedData[stackedData.length -1], function(d){return d[1]})
        yScale.domain([0,d3.max(stackedData[stackedData.length -1], function(d){return d[1]})]);
        // specify d[1] in the fuction as the last value in the row

        // call y axis
        svg.append("g")
            .call(d3.axisLeft(yScale));
        
            //define the area
            //define upper and lower bounds of yscale
        //console.log the stacked data and check how we can access the date
        

        
        var area = d3.area()
                      .x(function(d){return xScale(d.data.date_id);})
                      .y0(function(d){return yScale(d[0])})
                      .y1(function(d){return yScale(d[1])});
        // have seperate g elements for the keys

        var series = svg.selectAll("g.series")
                        .data(stackedData)
                        .enter().append("g")
                        .attr("class","series" );//specify the class name
        
        //for each g we need to have the path, for the path

        series.append("path")
              .style("fill", function(d,i){return colors[i];})
              .attr("d", function(d){return area(d);})
            

        




    </script>
